body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: auto;
}

#productos {
    display: flex;
    flex-direction: column;
}

.producto {
    display: flex;
    margin-bottom: 10px;
}

.producto input, .producto select {
    margin-right: 10px;
    width: 100px;
}

button {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

/* Estilos para impresión */
@media print {
    /* Ocultar botones al imprimir */
    button {
        display: none;
    }
}

